<div class="header-container">
    <div id="loader"><div class="inner"></div></div>
    <header class="wrapper clearfix">
        <h1 class="title">{{ pkg.name }}</h1>
        {{> navbar.hbs}}
    </header>
</div>